<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- LOG everything at INFO level -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="fr.gouv.clea" level="INFO"/>

    <!-- at TRACE level -->
    <logger name="trace" level="trace" />

    <!-- at WARN level -->
    <logger name="warn" level="warn"/>

    <!-- at ERROR level -->
    <logger name="error" level="error" />


</configuration>
