<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PATTERN"
              value="%d{&quot;dd-MM-yyyy HH:mm:ss,SSS&quot;,UTC} - thread=%t - %-5p - %C{1} - %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
